* {
    box-sizing: border-box;
    margin: 5px auto;
}

body {
    background:#ffdf74;
}

div {
    position: absolute;
    line-height: 80%;
    left: 0;
    right: 0;
    max-height: 500px;
    color: #dffdcf;
}

body>div>img {
    width: 92%;
    height: 92%;
    border-style: none;
}

button {
    border-bottom: none;
    border-radius: 50%;
    width: 55px;
    height: 35px;
    border-color:#ffdf74;
    background:#ffdf74;
}

.home {
    max-width: 440px;
}

.tamagotchi {
    max-width: 80px;
    z-index: 20;
}

.tamagotchi img {
    position: absolute;
    max-width: 40px;
    top: 260px;
    left: -80px;
}

.stats {
	max-width: 120px;
	top: 170px;
    margin-left: 310px;
}

.stats p {
	text-align: justify;
    font-weight: bold;
    color:rgb(0, 60, 255);
}

.actions {
    text-align: center;
    margin-left: -31px;
    top: 318px;
    
}
.actividad{
    position:absolute;
    top: 160px;
    width: 29%;
    height: 30%;
    left: 140px;
    border-radius: 8%;
}

.hiden{
display: none;
}

.mensajes{
    color:blue;
    top: 410px;
    left: 450px;
}


